.product {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin: 5px;
  padding: 5px;
}
.product-name {
  color: blue;
  font-weight: 400;
}
.cart-btn {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
